body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(218, 218, 218);
}

h1 {
  color: rgb(19, 149, 255);
}

form {
  background-color: aliceblue;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(124, 124, 124);
}

#textBox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid rgb(133, 133, 133);
  border-radius: 12px;
  margin-bottom: 15px;
}

label {
  font-size: 1.5em;
  font-weight: bold;
}

button {
  margin-top: 15px;
  background-color: #2b42d4;
  color: rgb(229, 255, 255);
  border: 2px solid;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 1.5em;
  cursor: pointer;
}
button:hover {
  background-color: #071990;
}

#result {
  font-size: 1.5em;
  font-weight: bold;
}
